<div class="container">
  <div class="register">
    <div class="row justify-content-md-center">
      <div class="col-xl-5 offset-xl-0">
        <div class="register-img">
          <img src="/rocket.svg" alt="register-img" />
          <p>Еще не зарегистрировались?</p>
        </div>
        <div class="already-login">
          <form action="/auth/register" method="GET">
            <input type="hidden" name="_csrf" value="{{csrf}}" />

            <button>Создать аккаунт</button>
          </form>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="register-form">
          <div class="register-head">
            <p class="head-text">С возвращением!</p>
          </div>

          <div class="error" style="height: 4rem;">
          {{#if loginError}}
               <p class="errorLogin">{{loginError}}</p>
          {{/if}}

          </div>

          <div class="register-body">
            <form action="/auth/login" method="POST">
              {{!-- input email --}}
              <div class="form-group">
                <input
                  name="email"
                  class="register-input"
                  placeholder="email"
                  value='{{dataInput.email}}'
                  required
                />
                <span> <img src="/mail.svg" alt="register-img" /></span>
              </div>
              {{!-- input password --}}
              <div class="form-group">
                <input
                  name="password"
                  type="password"
                  class="register-input"
                  placeholder="пароль"
                  required
                />
                <span> <img src="/lock.svg" alt="register-img" /></span>
              </div>

              <input type="hidden" name="_csrf" value="{{csrf}}" />
              <div class="register-button">
                <button type="submit">Войти</button>
              </div>
            </form>
            <a href="/auth/reset">Забыли пароль?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
