<h1>главная страница</h1>
{{!-- just komet --}}
<img src='https://avataaars.io/?avatarStyle=Circle&topType=Eyepatch&accessoriesType=Wayfarers&hatColor=PastelGreen&facialHairType=Blank&clotheType=Hoodie&clotheColor=Pink&eyeType=Surprised&eyebrowType=RaisedExcited&mouthType=Serious&skinColor=DarkBrown'
style="width: 50px; height: 50px;"/>