<div class="row row-cols-sm-1 col-sm-8 offset-sm-2  row-cols-md-1 col-md-8 offset-md-2  row-cols-lg-2 col-lg-10 offset-lg-1 row-cols-xl-3 col-xl-12 offset-xl-0 ">
    <div class="col">
        <div class="card mb-5 mt-5 mr-2">
            <img src="/standard.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Стандартный</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Стандартный режим с обычным набором арифметических операций.
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор уровня сложности</p>
                    </li>
                     <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Решение на время</p>
                    </li>
                    
                </ul>
                 <div class="card-start">
                    <a class="btn  start-btn" href="/modes/standardModes"  >
                        Начать!
                    </a>
                </div>
            </div> 
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/chain.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Цепочки</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Цепочка из нескольких выражений. Длина цепочки зависит от
                    уровня сложности
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    
                     <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор длины цепочки</p>
                    </li>
                      <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Решение на время</p>
                    </li>
                </ul>
               <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/multi.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Таблица умножения</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Примеры из стандартной таблицы умножения
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Решение на время</p>
                    </li>
                    
                </ul>
                <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/training.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title header">Тренировочный</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Тренировочный режим без времени, в котором вы можете проверить свои силы в любом режиме игры
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор уровня сложности</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор любого режима </p>
                    </li>
                </ul>
                <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/timer.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Подгонялки</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    На каждый вопрос отводится от 3 до 9 секунд, в зависимости
                    от выбора уровня сложности.
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор уровня сложности</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Решение на время</p>
                    </li>
                </ul>
                <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/wrong.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Безошибочный</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Игра длится 2 минуты, за которые нельзя допустить ни одной
                    ошибки
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор уровня сложности</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Решение на время</p>
                    </li>
                </ul>
                <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-5 mt-5 mr-2" style="background-color: rgb(170, 166, 166);">
            <img src="/choise.svg" class="modes-img" alt="..." />
            <div class="card-header text-center">
                <h5 class="card-title">Выбор собственной тренировки</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Самостоятельно составь тренировку с теми числами, которые вы хотите потренировать
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор арифметических операций</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор разрядности числа</p>
                    </li>
                    <li class="list-group-item">
                        <img src="/checkmark.svg" alt="" />
                        <p style="display: inline-block;">Выбор знака</p>
                    </li>
                </ul>
                <div class="card-start">
                    <button class="btn start-btn">
                        Начать!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
