html {
  font-size: 10px;
}
body {
  background-color: #F2F9FA;
}
.errorLogin {
  font-size: 2rem;
  color: red;
  background-color: #fa8585;
  text-align: center;
  padding: 0.7rem 0rem;
  border-radius: 1rem;
}
.completeRegister {
  font-size: 2rem;
  color: green;
  background-color: #7de07d;
  text-align: center;
  padding: 0.7rem 0rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
