.logoIMG {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
  cursor: pointer;
}
.navbar {
  justify-content: space-between;
  background-color: #ff9800;
  min-height: 11rem;
}
.navbar-nav li {
  margin-right: 1.1rem;
}
.nav-link {
  font-size: 3rem;
}
.block-text {
  font-size: 2.5rem;
}
