.logoIMG {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
  cursor: pointer;
}
.navbar {
  background-color: #ff9e14;
  height: 10rem;
}
.navbar-nav li {
  margin-right: 0.3rem;
}
.nav-link {
  font-size: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
.block-text {
  font-size: 2.5rem;
}

.logIn {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2.7rem;

}
