.container {
  margin-top: 5rem;
}
.container .link-profile {
  box-shadow: 15px 20px 20px #b9b6b2;
  background-color: white;
  color: #03a9f4;
  border: 1px solid #e2dcdc;
}
.profile {
  max-width: 1500px;
  margin-bottom: 10rem;
}
.profile-info {
  background-color: white;
  border-radius: 20px;
}
.profile-info-img {
  text-align: center;
  margin: 2rem 0;
}
.profile-info-img img {
  width: 100%;
}
.profile-info-bio ul {
  list-style: none;
}
.profile-info-bio ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2f4768;
}
.profile-info-bio ul li span {
  vertical-align: text-bottom;
  margin-right: 15px;
}
.profile-info-bio ul li span img {
  width: 20px;
}
.profile-stat {
  background-color: #f3f5f6;
  border-radius: 20px;
}
.profile-stat-hello {
  font-size: 3rem;
  padding: 1rem;
  color: #2f4768;
}
.profile-stat-hello strong {
  font-size: 3.5rem;
}
.profile-stat-allStat {
  display: inline-block;
  padding: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0px 5px rgba(255, 173, 80, 0.9);
  border-radius: 5px;
}
.profile-stat-allStat p {
  position: relative;
}
.profile-stat-allStat img {
  width: 30px;
  height: 30px;
}
.profile-stat-allStat .all {
  font-size: 5rem;
  color: #2f4768;
}
.profile-stat-allStat .match {
  font-size: 1.9rem;
  color: #a8b8cb;
  top: -15px;
}
.profile-stat-allStat .today {
  font-size: 2.3rem;
  color: #3dce74;
  top: -10px;
}
.profile-stat-allStat .today strong {
  margin-left: 1rem;
  font-size: 2.7rem;
}
.profile-stat-modeStat {
  max-width: 70rem;
  margin: 3rem auto;
  border: 2px solid #ffad50;
  background-color: white;
  box-shadow: 0 0px 5px rgba(255, 173, 80, 0.9);
  border-radius: 5px;
}
.profile-stat-modeStat .table-name {
  font-size: 3rem;
  text-align: center;
}
.profile-stat-modeStat .table thead {
  background-color: #ffad50;
}
.profile-stat-modeStat .table thead th {
  font-size: 1.7rem;
}
.profile-stat-lastMatch {
  position: relative;
  top: -30px;
  background-color: wheat;
  padding: 1rem;
  box-shadow: 0 0px 5px rgba(255, 136, 0, 0.9);
  border-radius: 5px;
}
.profile-stat-lastMatch .title {
  text-align: center;
  font-size: 3rem;
  color: #2f4768;
}
.profile-stat-lastMatch .modeName {
  text-align: center;
  font-size: 2.5rem;
  color: #ff9800;
}
.profile-stat-lastMatch .details {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: #a8b8cb;
  cursor: pointer;
}
.profile-stat-lastMatch .lastMatchStat {
  width: 100%;
  margin: 0 auto;
  background-color: #ffad50;
  border-radius: 8px;
}
.profile-stat-lastMatch .lastMatchStat tbody {
  margin: 0 10px;
}
.profile-stat-lastMatch .lastMatchStat .value {
  text-align: center;
  padding: 5px 1px 5px 0;
}
.profile-stat-lastMatch .lastMatchStat .key {
  padding: 5px 0px 5px 5px;
}
.profile-stat-lastMatch .lastMatchStat td {
  font-size: 1.5rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #03a9f4;
}
