// Цвета
@background-navbar-color: #ffaa2a;


.logoIMG { 
    width: 6rem; 
    height: 6rem;
    margin-right: 2rem;
    cursor: pointer;      
    
}
//настройка navbara
.navbar {
    justify-content: space-between;
    background-color: @background-navbar-color;
    min-height: 10rem;
    &-nav {
        li {
            margin-right: 1.1rem;
        }
    }
}

.nav-link {
    font-size: 3rem;
   
    }

.block-text {
    font-size: 2.5rem;
}
.nav-item{
   margin: auto 0;
}
.logIn{
    margin-left: 2rem;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    a{
        font-size: 2.7rem;

    }
}