@logout-btn: rgb(55, 58, 61);

.profile {
  margin-top: 5rem;
 
  &-content {
    margin: 5rem 0 10rem 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 40px 20px #b9b6b2;
    padding: 1rem;
  }
  .nav-menu {
    box-shadow: 15px 20px 20px #b9b6b2;
    background-color: white;
    color: #03A9F4;
    border: 1px solid rgb(226, 220, 220);
  }
  
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #03A9F4;

}
.setting {
  &-nav {
    margin-top: 3rem;
  }
  &-href {
    font-size: 2.5rem;
    color: #03A9F4;
    &:hover{
    color: #03A9F4;

    }
  }

  &-content {
    margin-top: 3rem;
  }
  &-form {
    a {
      float: right;
      font-size: 2rem;
      color: rgb(139, 122, 103);
      text-decoration: none;
    }
    &-area {
      margin: 4rem 0;
    }
  }

  &-input {
    input {
      height: 3.5rem;
      font-size: 1.5rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    padding-top: 0.4rem;
  }

  &-label {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
  }
  &-textarea {
    textarea {
      resize: none;
      font-size: 1.5rem;
    }
  }
  &-btn {
    margin-bottom: 3rem;
    button {
      font-size: 2rem;
      border-radius: 8px;
    }
  }
  &-logout {
    font-size: 2.5rem;

    color: @logout-btn;
    margin-top: 5rem;
    border: 2px solid @logout-btn;
    box-shadow: 0 1px 5px @logout-btn;
    transition-duration: 0.5s;
    &:hover {
      color: white;
      background-color: @logout-btn;
    }
  }
}
.card {
  margin-bottom: 4rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.card-header {
  font-size: 2rem;
}
.form-check {
  input {
    box-shadow: none;
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
